<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Music Discovery Tracker</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Login</h1>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <form action="/login" method="POST">
        <label>Email:
            <input name="email" autocomplete="email" required>
        </label>
        <label>Password:
            <input name="password" type="password" required>
        </label>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
</body>
