<!DOCTYPE html>
<html lang="en">
	<%- include( 'partials/metadata.ejs' ) %>
	<body>
		<h1>Register</h1>
		<form action="/register" method="POST">
			<label
				>Name:
				<input name="name" autocomplete="name" required />
			</label>
			<label
				>Email:
				<input name="email" autocomplete="email" required />
			</label>
			<label
				>Password:
				<input name="password" type="password" required />
			</label>
			<button type="submit">Register</button>
		</form>
		<a href="/login">Login</a>
		<%- include( 'partials/scripts.ejs' ) %>
	</body>
</html>
