/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

:root {
	--black: #000;
	--off-black: #262626;
	--white: #fff;
	--grey: #545252;
	--light-grey: #a09593;
	--lighter-grey: #c4c4c4;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	font-family: 'Albert Sans', sans-serif;
	background-color: var(--off-black);
	color: var(--white);
}

a {
	color: var(--white);
}

aside {
	background-color: var(--black);
}

button {
	cursor: pointer;
	color: var(--white);
	border: 1px solid white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-family: 'Albert Sans', sans-serif;
	text-transform: uppercase;
	background: none;
	font-size: 0.75rem;
	letter-spacing: 1px;
	transition: all 0.3s;
}

button:hover {
	color: rgba(255, 255, 255, 0.5);
}

button.svg {
	color: var(--off-black);
	border: none;
	min-height: 3rem;
	min-width: 3rem;
	padding: 10px;
	background: radial-gradient(
		circle,
		rgba(183, 91, 205, 1) 0%,
		rgba(95, 101, 107, 1) 100%
	);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

button.svg.delete {
	background: radial-gradient(
		circle,
		rgba(207, 65, 94, 1) 0%,
		rgba(95, 101, 107, 1) 100%
	);
}

form {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, auto));
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	line-height: 1;
}

h2 {
	border-bottom: 1px solid var(--grey);
	padding-bottom: 1rem;
	font-size: 3rem;
	letter-spacing: -5px;
	text-transform: uppercase;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

input {
	font-family: 'Albert Sans', sans-serif;
	background: rgba(158, 158, 158, 0.25);
	color: var(--lighter-grey);
	border: none;
	border-radius: 4px;
	padding: 0.75rem 1rem;
}

svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	list-style: none;
}

li {
	background-color: rgba(86, 83, 83, 0.4);
	margin: 0.5rem;
	padding: 1rem;
	border-radius: 5%;
}

.screen-reader {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.album-card {
	display: grid;
}

.album-cover {
	border-radius: 5%;
}

.album-name {
	margin: 0;
}

.album-status {
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-self: end;
}

.artist-name {
	margin: 0;
	font-size: 0.75rem;
	color: var(--light-grey);
	align-self: end;
}

#add-album {
	display: grid;
	grid-row-gap: 10px;
}

#add-album h2 {
	font-size: 2rem;
	border: none;
	margin: 0;
	padding: 0;
	letter-spacing: -2px;
}

#app-name {
	margin: 0;
	font-size: 1rem;
	color: var(--light-grey);
	text-transform: uppercase;
	letter-spacing: -1px;
}

#liked-albums button.svg.like,
#disliked-albums button.svg.dislike {
	filter: drop-shadow(0 0 0.75rem #c3d5c4);
}

#add-album,
header,
h2,
ul {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

@media (min-width: 600px) {
	#add-album,
	header,
	h2,
	ul {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
